<section id="sobre">
    <div class="textos">
        <div class="titulo">
            <h2><span>Sobre</span> o Conteúdo</h2>
        </div>

        <div class="textoP">
            <p>Neste curso prático, você aprenderá a implementar técnicas de SEO para otimizar seu site contábil de forma simples e automatizada. 
Aumente seu rank e alcance as primeiras páginas do Google em poucos dias, sem necessidade de ser especialista em marketing ou SEO. Deixe as ferramentas trabalharem por você enquanto foca no atendimento ao cliente e no crescimento do seu negócio contábil. Aprenda a selecionar palavras-chave, ajustar conteúdos e atrair tráfego qualificado de forma orgânica. Destaque-se no marketing digital contábil e desenvolva uma presença online sólida e eficaz.</p>
        </div>
    </div>

    <div class="video">
            <iframe width="1200" height="657" src="https://www.youtube.com/embed/_w3P-6F7x3U?si=RKql27memtVWXS27" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>