<body id="hero">
    <app-header></app-header>
    <section>
        
        <div class="container-textos">
            <h1>
                técnicas de <span>seo</span> para o <span>mercado contábil</span>
            </h1>
            <p class="primeiroTexto">Domine o SEO e aumente suas vendas no mercado contábil.
            Google e Bing atraem milhões de empresas buscando serviços
            contábeis. Não fique de fora desse mercado bilionário. 
            Adquira agora e aproveite bônus exclusivos.</p>

            <div class="containerBotao">
                <a href="https://hotmart.com/pt-br/marketplace/produtos/tecnicas-de-seo-para-o-mercado-contabil/B85341148M " target="_blank">Comprar Agora</a>
            </div>
        </div>

    </section>
</body>